 [Unit]
 Description=GrowSense SystemManager WWW Service
 After=multi-user.target

 [Service]
 Type=idle
 Restart=always
 ExecStart=/bin/bash -c "cd /usr/local/GrowSense/Index/ && bash start-www.sh"

 [Install]
 WantedBy=multi-user.target
